@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<div class="slide">

    @Body
    <section id="contact">
        <div id="contactArea">
            <h1>Lob, Kritik, Anerkennung?</h1>
            <p>
                Immer her damit! Wir versuchen uns stetig zu verbessern und jedes Feedback
                hilft uns die nächste TCH noch besser zu gestalten.
            </p>
        </div>
        <FooterArea />
    </section>
</div>