<nav class="navbar">
    <a href="#home"><img src="./Images/Logo_Yellow.png" height="28" style="background: none;"></a>
    <ul class="nav-menu">
        <li class="nav-item"><a href="#about" class="nav-link">Die TCH</a></li>
        <li class="nav-item"><a href="#when-where" class="nav-link">Wo und wann?</a></li>
        <li class="nav-item"><a href="#sessions" class="nav-link">Sessions</a></li>
        <li class="nav-item"><a href="info-faq.html" class="nav-link">FAQ</a></li>
        <li class="nav-item"><a href="#contact" class="nav-link">Kontakt</a></li>
        <li class="nav-item"><a href="registrieren.html" class="nav-link">Bin dabei!</a></li>
        <!-- Anmeldung für Speaker und wichtige Leute-->
        <li class="nav-item"><a href="#login" class="nav-link">Für Speaker</a></li>
    </ul>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
