body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer {
    background-color: black;
}

/* ---------------------------------------------------- */
/* Styles for the navigation bar at the top of the page */
nav {
    width: 100%;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: block;
    background-color: black;
}
nav ul li{
    display: inline-block;
}

nav a {
    display: block;
    padding: 0 10px;
    color: yellow;
    line-height: 60px;
    font-size: large;
    text-decoration: none;
}

/* Hide Dropdown by Default*/
nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}
/* hover */
nav a:hover{
    background-color: gray;
}
/* Display Dropdown on Hover */
nav ul li:hover > ul {
    display: inherit;
}
/* Fisrt Tier Dropdown */
nav ul ul li{
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
    background-color: #0098FF;
}

/* ============ Second, Third and More Tiers ===========*/
nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}

/* Change this in order to change the Dropdown symbol */
li > a::after { content: '+';}
li > a:only-child::after {
    content: '';
}
/* ---------------------------------------------------- */
